{% extends "base.html.twig" %}

{% block title %}Añadir clave{% endblock %}

{% block body %}
    <h1>Gestor de claves</h1>
    <h3>{{message}}</h3>
    <form action="{{url('add')}}" method="post">
        name: <input name="name" id="name" />
        username: <input name="username" id="username" />
        password: <input name="password" id="password" />
        comment: <input name="comment" id="comment" />
        key: <input name="key" id="key" />

        <input type="submit" value="dale"/>

    </form>
{% endblock %}
